---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import Prose from "../../components/Prose.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const articles = await getCollection("articles");
  return articles.map((article) => ({
    params: {
      slug: article.slug,
    },
    props: {
      article,
    },
  }));
}

const { article } = Astro.props;
const { Content } = await article.render();
---

<meta property="og:title" content={"Satyaloka - " + article.data.title} />
<meta property="og:image" content={article.data.cover.src} />
<meta property="og:url" content="https://satyaloka.org" /><MainLayout>
  <div class="pt-8 flex flex-col">
    <div class="font-['Darwin'] text-[--paper] flex flex-col">
      <h1 class="text-4xl font-bold p-4 pb-0 bg-[--damask] w-fit">
        {article.data.title}
      </h1>
      <Image
        class="border-[--damask] border-4 drop-shadow-lg"
        src={article.data.cover}
        alt={article.data.coverAlt}
      />
      <div
        class="flex justify-between sm:self-end text-lg bg-[--damask] border-4 border-[--damask] items-center sm:justify-center"
      >
        <p class="text-[--red] px-4 py-2">written by</p>
        <p class="bg-[--red] text-[--damask] px-4 py-2">Adithya Ajith</p>
        <p class="text-[--red] px-4 py-2">on</p>
        <p class="bg-[--red] text-[--damask] px-4 py-2">
          {article.data.publishDate?.toDateString()}
        </p>
      </div>
    </div>
  </div>
  <Prose>
    <Content />
  </Prose>
</MainLayout>
