---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import ArticleMini from "../../components/ArticleMini.astro";
import { Image } from "astro:assets";
import PageHeader from "../../components/decorations/PageHeader.astro";
import Separator from "../../components/decorations/Separator.astro";

const articles = await getCollection("articles");
---

<MainLayout>
  <div class="w-full flex items-center ">
    <PageHeader> ARTICLES </PageHeader>
  </div>
  <Separator />
  <div class="w-full flex flex-col gap-8 mt-8">
  {
    articles.map((article) => {
      const image = (
        <Image src={article.data.cover} alt={article.data.coverAlt} />
      );
      return (
        <ArticleMini
          title={article.data.title}
          description={article.data.description}
          image={image}
          url={"articles/" + article.slug}
          tags={article.data.tags}
        />
      );
    })
  }
  </div>
</MainLayout>
