---
import { Image } from "astro:assets";
import ArticleMini from "../components/ArticleMini.astro";
import PageHeader from "../components/decorations/PageHeader.astro";
import MainLayout from "../layouts/MainLayout.astro";

import { getCollection } from "astro:content";
const featuredArticles = await getCollection("articles", ({ data }) => {
  return data.featured === true;
});
---

<MainLayout>
  <PageHeader> DISCLAIMER </PageHeader>
  <p>
    This blog is still new and a work-in-progress. Please enjoy the current
    pieces as I work to add more in my free time.
  </p>
  <PageHeader> FEATURED </PageHeader>
  <div class="flex flex-col w-full gap-2">
    {
      featuredArticles.map((article) => {
        const image = (
          <Image src={article.data.cover} alt={article.data.coverAlt} />
        );
        return (
          <ArticleMini
            description={article.data.description}
            title={article.data.title}
            image={image}
            tags={article.data.tags}
            url={"articles/" + article.slug}
          />
        );
      })
    }
  </div>
</MainLayout>
<style>
  a {
    color: var(--red);
    text-decoration: underline;
  }

  a:hover {
    color: blue;
  }
</style>
