---
interface Props {
  title: string;
  image: any;
  url: string;
  description?: string;
  tags?: Array<string>;
}

const { title, image, url, description, tags } = Astro.props;
---

<style>
  .wrapper {
    background-color: var(--paper);
  }
</style>
<div
  class="wrapper drop-shadow-xl font-['Darwin'] text-[32px] font-bold text-[--page] border-4 border-[--background] rounded-lg"
>
  <a
    href={url}
    class="flex items-center pt-4 px-4 pb-2 border-b-4 border-[--damask] bg-[--damask] text-[--paper] hover:underline"
  >
    {title}
  </a>
  <div
    class="flex flex-col sm:flex-row items-center justify-center w-full h-full"
  >
    <a
      href={url}
      class="w-full border-r-4 border-[--background] overflow-hidden"
    >
      {image}
    </a>
    <div
      class="p-2 sm:p-8 w-full h-full text-4 font-normal text-[--damask] text-ellipsis overflow-hidden leading-10 flex flex-col gap-4 items-center"
    >
      <p class="max-h-[20rem]">
        {description + " "}<a class="link" href={url}>Read More</a>
      </p>

      <div class="h-full flex flex-wrap gap-2 text-xl self-start">
        {
          tags?.map((tag) => {
            return (
              <a class="bg-[--red] p-2 pb text-[--paper] hover:cursor-pointer hover:bg-[--damask] transition-all flex items-center justify-center rounded-lg">
                {tag}
              </a>
            );
          })
        }
      </div>
    </div>
  </div>
</div>
